.outer-wrapper {
    display: flex;
    height: 96vh;
    width: 96vw;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.outer {
    display: flex;
    width: 25vw;
    height: 20vh;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background-color: red;
}

.inp {
    transform: translate3d(20.5vw,40%,0);
    z-index: 10;
}
.memes-labels {
    display: flex;
    flex-direction: column;
    gap: 5%;
    z-index: 1;
}

.memes-container {
    display: flex;
    width: 25%;
    height: 80%;
    transform: translateX(-17.5%);
}

.meme {
    width: 25vw;
    height: 100%;
    flex-shrink: 0;
    background-color: green;
}

.labels-container {
    height: 15%;
    width: 19%;
    background-color: aqua;
    transform: translateX(-23%);
    display: flex;
    overflow: hidden;
}

.meme-label {
    width: 100%;
    display: flex;
    flex-shrink: 0;
}

.one:checked ~ div div.memes-container {
    transform: translateX(-17.5%);
    transition: 0.3s ease-in;
}

.two:checked ~ div div.memes-container {
    transform: translateX(-117.5%);
    transition: 0.3s ease-in;
}

.three:checked ~ div div.memes-container {
    transform: translateX(-217.5%);
    transition: 0.3s ease-in;
}

.four:checked ~ div div.memes-container {
    transform: translateX(-317.5%);
    transition: 0.3s ease-in;
}

#fl {
    background-color: yellow;
}

#sl {
    background-color: blue;
}

#thl {
    background-color: violet;
}

#frl {
    background-color: wheat;
}

.one:checked ~ div div.labels-container .meme-label {
    transform: translateX(0%);
    transition: 0.3s ease-in;
}

.two:checked ~ div div.labels-container .meme-label {
    transform: translateX(-100%);
    transition: 0.3s ease-in;
}

.three:checked ~ div div.labels-container .meme-label {
    transform: translateX(-200%);
    transition: 0.3s ease-in;
}

.four:checked ~ div div.labels-container .meme-label {
    transform: translateX(-300%);
    transition: 0.3s ease-in;
}