html {
    font-size: 10px;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20rem;
}

.outer {
    display: flex;
    width: 70rem;
    height: 40rem;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background-color: #25282A;
}

input {
    height: 0rem;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    outline: 0.1rem solid aqua;
    border: solid 0.4rem aqua;
    box-sizing: border-box;
    display: inline-flex;
    cursor: pointer;
  }

  input:hover {
    outline: 0.1rem solid orange;
    border: solid 0.4rem orange;
  }

input:checked {
    outline: 0.1rem solid aqua;
    border: solid 0.4rem orange;
}

.inp {
    transform: translate3d(63.4rem,34rem,0);
    z-index: 10;
}
.memes-labels {
    display: flex;
    width: 70rem;
    flex-direction: column;
    gap: 5%;
    z-index: 1;
    transform: translateX(-6.4rem);
}

.memes-container {
    display: flex;
    width: 70rem;
    height: 80%;
    flex-shrink: 0;
    padding: 1rem 1rem;
    gap: 2rem;
    box-sizing: border-box;
}

.meme {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-color: #25282A;
    border-radius: 1rem;
}

.labels-container {
    height: 15%;
    width: 75%;
    background-color: #25282A;
    display: flex;
    overflow: hidden;
    padding-left: 1rem;
}

.meme-label {
    width: 100%;
    display: flex;
    flex-shrink: 0;
}

.first-meme {
    background: url('./img/meme-1.jpg') no-repeat;
    background-size: cover;
}

.second-meme {
    background: url('img/meme-2.png') no-repeat;
    background-size: cover;

}

.third-meme {
    background: url('img/meme-3.png');
    background-size: cover;
}

.fourth-meme {
    background: url('img/meme-4.png');
    background-size: cover;
}

.one:checked ~ div div.memes-container {
    transform: translateX(0%);
    transition: 0.5s ease-in;
}

.two:checked ~ div div.memes-container {
    transform: translateX(-100%);
    transition: 0.5s ease-in;
}

.three:checked ~ div div.memes-container {
    transform: translateX(-200%);
    transition: 0.5s ease-in;
}

.four:checked ~ div div.memes-container {
    transform: translateX(-300%);
    transition: 0.5s ease-in;
}

label {
    background-color: #25282A;
}

span {
    font-size: 1.8rem;
    color: white;
    letter-spacing: 0.1rem;
}

.one:checked ~ div div.labels-container .meme-label {
    transform: translateX(0%);
    transition: 0.5s ease-in;
}

.two:checked ~ div div.labels-container .meme-label {
    transform: translateX(-100%);
    transition: 0.5s ease-in;
}

.three:checked ~ div div.labels-container .meme-label {
    transform: translateX(-200%);
    transition: 0.5s ease-in;
}

.four:checked ~ div div.labels-container .meme-label {
    transform: translateX(-300%);
    transition: 0.5s ease-in;
}