html {
    font-size: 10px;
}

.outer-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20rem;
}

.outer {
    display: flex;
    width: 70rem;
    height: 40rem;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background-color: red;
}

input {
    height: 0rem;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    outline: 0.1rem solid aqua;
    border: solid 0.4rem aqua;
    box-sizing: border-box;
    display: inline-flex;
  }

.inp {
    transform: translate3d(63.4rem,34rem,0);
    z-index: 10;
}
.memes-labels {
    display: flex;
    width: 70rem;
    flex-direction: column;
    gap: 5%;
    z-index: 1;
    transform: translateX(-6.4rem);
}

.memes-container {
    display: flex;
    width: 70rem;
    height: 80%;
    flex-shrink: 0;
}

.meme {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background-color: green;
}

.labels-container {
    height: 15%;
    width: 75%;
    background-color: aqua;
    display: flex;
    overflow: hidden;
}

.meme-label {
    width: 100%;
    display: flex;
    flex-shrink: 0;
}


.one:checked ~ div div.memes-container {
    transform: translateX(0%);
    transition: 0.3s ease-in;
}

.two:checked ~ div div.memes-container {
    transform: translateX(-100%);
    transition: 0.3s ease-in;
}

.three:checked ~ div div.memes-container {
    transform: translateX(-200%);
    transition: 0.3s ease-in;
}

.four:checked ~ div div.memes-container {
    transform: translateX(-300%);
    transition: 0.3s ease-in;
}

#fl {
    background-color: yellow;
}

#sl {
    background-color: blue;
}

#thl {
    background-color: violet;
}

#frl {
    background-color: wheat;
}

.one:checked ~ div div.labels-container .meme-label {
    transform: translateX(0%);
    transition: 0.3s ease-in;
}

.two:checked ~ div div.labels-container .meme-label {
    transform: translateX(-100%);
    transition: 0.3s ease-in;
}

.three:checked ~ div div.labels-container .meme-label {
    transform: translateX(-200%);
    transition: 0.3s ease-in;
}

.four:checked ~ div div.labels-container .meme-label {
    transform: translateX(-300%);
    transition: 0.3s ease-in;
}